@import url(timeline.css);

body
{	margin: 0 auto;		}

body p 

#storyjs 
{    background-color: #222;	}

/* -----------------------------
	FLECHES DE NAVIGATION
----------------------------- */
.vco-slider .nav-previous .title 
{    display: none;		}
.vco-slider .nav-next .title 
{    display: none;		}
.vco-slider .nav-next .icon
{   background-position: -230px 0px !important;	}
.vco-slider .nav-previous .icon 
{   background-position: -210px 0px !important;	}
.vco-notouch .vco-slider .nav-previous:hover, .vco-notouch .vco-slider .nav-next:hover 
{   color: #fff !important;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;	}
.vco-notouch .vco-slider .nav-next:hover .icon 
{   margin-left: 66px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;	}
.vco-notouch .vco-slider .nav-previous:hover, .vco-notouch .vco-slider .nav-previous:hover 
{   color: #fff !important;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;	}
.vco-notouch .vco-slider .nav-previous:hover .icon 
{   margin-left: 66px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;	}

/* ---------------------
	PAGE TITLE
--------------------- */
.vco-storyjs h2.start 
{	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 45px !important;
	text-transform: uppercase;
	color: #E6000A;	}

/* ---------------------
	CONTENEUR TEXTE
--------------------- */
.vco-slider .slider-item .content .content-container .text .container h3 /*TITRES H3*/
{   margin-top: 15px;
    font-family: 'Pontano Sans',sans-serif !important;
    font-size: 3em;
    line-height: normal;
    text-transform: uppercase;
    color: #fff !important;	}

.vco-slider .slider-item .content .content-container .text .container h2.date /*DATES*/
{   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 2em;
	text-transform: uppercase;
	color: #E6000A;	}

.vco-slider .slider-item .content .content-container .text .container .slide-tag
{	background-color: #E6000A !important;		}

.vco-slider .slider-item .content .content-container .text .container p 
{	color: #fff;
	hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;

}

/* -----------------------------
	NAVIGATION TIMELINE
----------------------------- */
body .vco-timeline .vco-navigation .timenav-background .timenav-tag div h3 /*TITRES TAGS*/
{   font-size: 12px;
    color: #222;	}

.vco-timeline .vco-navigation .timenav-background .timenav-line
{   background-color: #E6000A !important;	}

.flag /*FLAGS TIMELINE*/
{	opacity: 0.8;		}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3, .vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3 /*TITRES FLAGS TIMELINE*/
{	color: #222;		}
body .vco-timeline .vco-navigation .timenav-background .timenav-tag-row-1 div h3 
{    color: #888;		}
body .vco-timeline .vco-navigation .timenav-background .timenav-tag-row-3 div h3 
{    color: #888;		}
body .vco-timeline .vco-navigation .timenav-background .timenav-tag-row-5 div h3 
{    color: #888;		}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 
{    color: #E6000A !important;	}
.vco-notouch .vco-navigation .timenav .content .marker.active:hover .flag .flag-content h3, .vco-notouch .vco-navigation .timenav .content .marker.active:hover .flag-small .flag-content h3 
{	color: #E6000A !important;	}

.vco-timeline .vco-navigation .timenav .content .marker.active .line .event-line 
{    background: none repeat scroll 0% 0% #E6000A !important;
    opacity: 0.75;	}
.vco-timeline .vco-navigation .timenav .content .marker .line .event-line
{   background: none repeat scroll 0% 0% #E6000A !important;
    opacity: 0.15;	}
.vco-timeline .vco-navigation .timenav .content .marker.active .dot 
{   background: none repeat scroll 0% 0% #E6000A !important;
    z-index: 200;	}


/*
    text
*/


    .main-nav {
        display: block;
        float: left;
        position: fixed;
        width: 100%;
        z-index: 300;
    }

#main-nav-wrapper {
    background: none repeat scroll 0% 0% #111;
    box-shadow: 0px 4px 15px -5px #111;
    float: left;
    width:100%;
}

#logo img {
    max-height: 50px;
    padding: 5px 0px 0px 3%;
    position: relative;
    float: left;
}

    .main-nav ul li {
        display: inline;
        padding: 12px;
        position: relative;
    }
    .main-nav ul li a {
        color: #999;
        font-size: 13px;
        text-decoration: none;
        display:block;
        float: right;
        margin-right:15px;

    }

    #wrap {
        width:80%;
        margin: 50px auto;
    }

